DEBUG=
ALLOWED_HOSTS=
SITE_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
REDIS_URL=
EMAIL_USE_SSL=
SECRET_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
OPENWEATHER_KEY=
XC_DISCORD_BOT_SECRET=
XC_TELEGRAM_BOT_SECRET=
TMDB_API_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
AI_PROVIDER=
CF_AI_ACCOUNT_ID=
CF_AI_TOKEN=
