argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.12.1
async-timeout==5.0.1
beautifulsoup4==4.15.0
cffi==2.1.1
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.18.0
gunicorn==26.0.0
packaging==26.3
pillow==12.3.0
pillow_heif==1.5.0
psycopg2-binary==2.9.12
pycparser==3.0
qrcode==8.2
redis==8.1.0
soupsieve==2.9.2
sqlparse==0.5.5
typing_extensions==4.16.0
